<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{$smarty.const.__PUBLIC__}/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="{$smarty.const.__PUBLIC__}/css/bootstrap.min.css">
	    <link rel="stylesheet" href="{$smarty.const.__PUBLIC__}/css/weui.min.css">
    <link rel="stylesheet" href="{$smarty.const.__PUBLIC__}/css/jd.css">
    <script src="{$smarty.const.__PUBLIC__}/js/jd.js"></script>
    <script src="{$smarty.const.__PUBLIC__}/js/jquery-1.11.3.js"></script>
    <title>{$web}</title>
</head>
<body>
<div class="hdS col-xs-12">
    <div class="back" id="back"></div>
    <div class="logo col-xs-2"></div>
    <div class="sh col-xs-10">
        <input type="text" class="inp">
    </div>
</div>